
@font-face {
    font-family: hfont;
    src: url('fonte/Bravecho.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f9f9f9;
    color: #333;
  }
  
 
  h1 {
    background-color: #0979ad;
    color: #fff;
    padding: 45px;
    text-align: center;
    font-size: 30px;
    font-family: hfont;
  }
  

  section {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #1c1c1c;
    margin-bottom: 20px;
    text-align: center;
  }
  
 
  input[type="text"],
  input[type="password"],
  input[type="number"] {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #0979ad;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color:  #0979ad;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color:  #0979ad;
  }

  a {
    color:  #0979ad;
    text-decoration: none;

  }
  
  a:hover {
    text-decoration: underline;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px 8px;
    text-align: left;
  }
  
  thead {
    background-color: #e0f7ff;
    color: #1c1c1c;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2faff;
  }
  
  .btns button {
    width: auto;
    margin-right: 5px;
    padding: 6px 10px;
  }
  
  @media (max-width: 600px) {
    section {
      margin: 15px;
      padding: 20px;
    }
  
    table, th, td {
      font-size: 14px;
    }
  }
  